<div fxFlex="grow" fxLayout="column">

    <mat-form-field fxFlex="grow">
        <mat-label>Select super-type</mat-label>
        <mat-select (selectionChange)="onSuperClassChange()" [(ngModel)]="selectedSuperClass">
            <mat-option *ngFor="let item of superClasses" [value]="item">
                {{item.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-list role="list" fxFlex="grow">
        <mat-list-item role="listitem" *ngFor="let item of classInstances">
            <mat-icon mat-list-icon>class</mat-icon>
            <h4 mat-line>{{item.name.value}}</h4>
        </mat-list-item>
    </mat-list>

    <div fxFlex="grow" *ngIf="selectedSuperClass" fxLayout="column">
        <mat-form-field fxFlex="grow">
            <input matInput placeholder="Name of new {{selectedSuperClass.name}} type" [(ngModel)]="newClassInstanceName">
        </mat-form-field>
        <button fxFlex="grow" mat-stroked-button color="primary" (click)="addClass()">Add type</button>
    </div>

</div>