<mat-list>

    <h3 mat-subheader>CAD-layers</h3>
    <mat-list-item>
        <mat-form-field class="full-width">
            <input matInput placeholder="Spacepolygons*" [(ngModel)]="spaceLayer">
        </mat-form-field>
    </mat-list-item>

    <mat-list-item>
        <mat-form-field class="full-width">
            <input matInput placeholder="Space names*" [(ngModel)]="spaceNameLayer">
        </mat-form-field>
    </mat-list-item>

    <mat-list-item>
        <mat-form-field class="full-width">
            <input matInput placeholder="Space types" [(ngModel)]="spaceTypeLayer">
        </mat-form-field>
    </mat-list-item>

    <!-- <h3 mat-subheader>Etage</h3>
    <mat-list-item>
        <mat-form-field class="full-width">
            <input matInput placeholder="Etage" value="Etage 00">
        </mat-form-field>
    </mat-list-item> -->

</mat-list>


<ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)">
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
        Smid DXF-fil her
        <!-- <button type="button" (click)="openFileSelector()">Browse Files</button> -->
    </ng-template>
</ngx-file-drop>

<!-- <p>{{fileLoadResult}}</p> -->

<div *ngIf="processedFiles && processedFiles.length">
    <ul>
        <li *ngFor="let item of processedFiles">
            <a [href]="item.url" [download]="item.fileName">{{item.fileName}}</a>
        </li>
    </ul>
</div>