
<div fxFlex="grow" fxLayout="column">

    <div *ngIf="storeys && storeys.length" fxFlex="grow" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field fxFlex="90%">
            <mat-label>Select storey</mat-label>
            <mat-select (selectionChange)="onStoreySelectionChange()" [(ngModel)]="selectedStorey">
                <mat-option *ngFor="let item of storeys" [value]="item">
                    {{item.name.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-icon (click)="toggleAddMode()" class="clickable">add_circle_outline</mat-icon>
    </div>

    <div fxFlex="grow" *ngIf="!storeys || !storeys.length || addMode" fxLayout="column">
        <mat-form-field fxFlex="grow">
            <mat-label>Name</mat-label>
            <input matInput placeholder="New storey" [(ngModel)]="newStoreyName">
        </mat-form-field>
        <button fxFlex="grow" mat-stroked-button color="primary" (click)="addStorey()">Add storey</button>
    </div>

</div>